PROJECT_NAME=Shop Inventory Management
API_V1_STR=/api/v1

# POSTGRES_HOST value is "localhost" for manual launch or "db" for launch using Docker
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=inventory_db
POSTGRES_PORT=5432
# DATABASE_URL host is "localhost" for manual launch or "db" for launch using Docker
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/inventory_db